@{
    ViewData["Title"] = "Home Page";
}

<from asp_action="Index">
    <label> Nhập họ tên:</label>
    <input type="text" name="full name">
    <label>Nhập địa chỉ :</label>
    <input type="text" name="Address">
    <input type="submit" value="gui du lieu:"
</from>
<h1>@ViewBag.Message</h1>